<%- include('header') %>

    <h2> This is the about page. </h2>

    <p>dklasjfdlsahdjkahffk hdjhfkjas lhfdk skljhafdklsja ldafhafdkjahfkjdshfkla hh dsjakhfjk asdfah jkahfkjd ahfskajhfalhfldhskfh jkalskfkah dfkahf khkadflasdfkjsfkja dskfjhskahdsajfkhldaskjfhakslhfskjfdshfskdhdkfhskfdsjhfd</p>

    <%- include('footer') %>